* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.blog {

}

.head {

}

.headlogo {

}

.headukraine {

}

.headnav {

}

li {
    
}

.headgreen {

}

.headblack {

}

.headactive {

}

.groupmid {

}

.group {

}

.midnav {

}

.vector {

}

.articleimg {

}

.articlediv1 {

}

.articlephoto1 {

}

.article-btnp1 {

}

.article-btn1 {

}

.article-btnp2 {

}

.article-btn2 {

}

.article-btnp3 {

}

.article-btn3 {

}

.h21 {

}

.articlep1 {

}

.articletime {

}

.articletime::before {

}

.articlediv2 {

}

.articlephoto2 {

}

.article-btnp1 {

}

.article-btn1 {

}

.article-btnp2 {

}

.article-btn2 {

}

.article-btnp3 {

}

.article-btn3 {
    
}

.h22 {

}

.articlep2 {

}

.articletime {

}

.midimg {

}

.midphoto1 {
    
}



































